:root {
    --main-color : rgb(10, 31, 66, 1);
    --main-text: rgba(234, 237, 242, 1);
    --main-altText: rgba(139, 143, 148, 1);
    --second-color: rgba(226, 152, 24,1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html {
    scroll-behavior: smooth;
}


body {
    height: 100%;   
    background-color: var(--main-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-altText);
    text-align: center;
}

h1 {
  font-weight: 500; 
}

.alt-grey {
  color: var(--main-altText);
}

.alt-color {
  color: var(--second-color);
}

.alt-text {    
  font-family: 'Lekton', sans-serif;
  margin-bottom: 1%;
}

#logo {
  width:30px;
  height:30px;
  position: fixed;
  left: 0;
  margin-left: .5rem;
  margin-top: .5rem;
  background: transparent;
  z-index: 100;
}

.folder-icon {
  background: transparent;
}

.cols {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.main {
  margin: 1rem;
}

/* nav */

#bar1, #bar2, #bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--main-text);
  margin: 6px 0;
  transition: 0.4s;
}

  
.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

  .change #bar2 {
      opacity: 0;
  }

  .change #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.bars {  
  position: fixed;
  right: 0;
  margin-right: .5rem;
  z-index: 100;
}

.nav-bar {
  display: block;
  padding: 0; 
}

.nav-bar .links {
  display: flex;
  flex-direction: column;
  flex-basis: 0 0 auto; 
  position: fixed; 
  width: 100%;
}

.nav-bar .links a {
  padding-bottom: 3%;
  width: 100%;
  background: var(--main-color);
  margin: auto;
  display: block;      
  text-decoration: none;
  color: var(--main-text);   
  margin-right: 0;   
  padding-right: 0;     
}

/* Intro */
.intro {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.intro #name {
  font-size: 3rem;
  color: var(--main-text);
}

.intro #introduction {
  font-size: 2.5rem;
}

/* about */

.about {
  padding: 1rem;
}

.about-me-img {
  position: relative;
  width: 45%;
  margin:auto;
}

#me {
  display: block;
  width: 100%;
}

.img-overlay {
  position: absolute;
  background-color: var(--second-color);
  width: 100%;
  opacity: .1;
  z-index: 11;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
}

.skills-list {
  margin: 1.5rem 0;
  list-style: none;
}

/* projects */

.project {
  min-width: 300px;
  max-width: 350px;
  min-height: 200px;
  margin-bottom: 1rem;
  border: solid 1px black;
  border-radius: 5px;
  padding: 1rem;
}

.projectImg {
  min-height: 140px;
  max-width: 90%;
  border-radius: 5px;
  margin: auto;
}

.projectTitle, .projectDesc{
  text-align: left;
}

.projectLanguages {
  text-align: right;
  font-size: .7rem;
  font-family: 'Courier New', Courier, monospace;
}